@import "reset";
@import "loader";
@import "pagination";

$primary: #5cb85c;
$secondary: #818a91;
$tertary: #f3f3f3;
$white: white;
$black: black;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

.flex-30 {
  flex: 0 1 30%;
}

.flex-60 {
  flex: 0 1 60%;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.jc-between {
  justify-content: space-between;
}

.jc-start {
  justify-content: flex-start;
}

.al-center {
  align-items: center;
}

.al-start {
  align-items: flex-start;
}

.logo {
  color: $primary;
  font-weight: 900;
  font-size: 2rem;
}

.active-nav {
  text-decoration: none;
  color: $black;
}

.unselected {
  color: $secondary;
  text-decoration: none;
}

li {
  margin-right: 1rem;
}

.hero {
  background-color: $primary;
  color: $white;
  text-align: center;
  padding: 3.5rem 0;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

.hero h2 {
  font-size: 1.8rem;
  font-weight: 300;
}

.article-heading li h3 {
  font-size: 1rem;
  text-transform: capitalize;
  color: $primary;
  margin-top: 2rem;
}

Link {
  text-decoration: none;
}

hr {
  color: $secondary;
}

.tags {
  margin-top: 2rem;
  border-radius: 0.2rem;
  background-color: $tertary;
  padding: 1rem;
  margin-left: 1rem;
}

.tag {
  background-color: $secondary;
  color: $white;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
}

.article {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.article img,
.article-hero img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.article h3 {
  color: $primary;
  font-size: 1rem;
}

.date {
  font-size: 0.8rem;
  color: $secondary;
}

.article h2 {
  margin-top: 1rem;
  color: $black;
  font-size: 1.3rem;
}

.des {
  font-size: 1rem;
  color: $secondary;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 1.5rem;
  color: $secondary;
}

.taglist {
  border: 1px solid $secondary;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  margin-right: 0.3rem;
  color: $secondary;
}

.account-color h3 {
  color: $primary;
  font-size: 1rem;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

h6 {
  text-align: center;
  p {
    color: $primary;
  }
}

.account {
  text-align: center;
  text-decoration: none;
  color: $primary;
  font-size: 1rem;
}

form {
  width: 600px;
  margin: 0 auto;
  position: relative;
  margin-top: 2rem;
}

.post {
  width: 1000px;
  border: 2px solid grey;
  padding: 1.5rem;
}

input,
textarea {
  width: 97%;
  margin: 0.5rem 0;
  padding: 0.6rem 1rem;
  font-size: 1.3rem;
  border: 1px solid $secondary;
  border-radius: 0.3rem;
  outline: none;
  color: $secondary;
  font-family: "Nunito", sans-serif;
}

.submit {
  background-color: $primary;
  color: $white;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  position: absolute;
  right: -1.4rem;
  bottom: -4rem;
}

.submit:hover {
  background-color: #367a36;
}

.error {
  color: brown;
  font-size: 0.8rem;
}

.article-hero {
  background-color: #333333;
  color: $white;
  padding: 3.5rem 0;
}

.article-hero h1 {
  text-align: left;
}

ul {
  margin: 2rem 0;
}

.single-article {
  margin-top: 2rem;
}
